@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Purisa';
    src: url('/fonts/purisa.woff2') format('woff2'),
         url('/fonts/purisa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }